<div class="form">
    <h2>Login</h2>
    <form #loginForm="ngForm">  
      <div class="form-group">
        <label>Email : </label>
        <br>
        <input 
        type="email" name="userEmail"
        #userEmail="ngModel"
        placeholder="Enter your email address" 
        [(ngModel)]="email" class="formInput"
        maxlength="60" 
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        required/>
        <div *ngIf= "userEmail.invalid && userEmail.touched || userEmail.pattern" class="alert alert-danger">
          <div *ngIf="userEmail.errors.required">
            Valid email is required.
          </div>
          <div *ngIf="userEmail.errors.pattern">
            Did not match with the patter (example@example.com).
          </div>
        </div>
        <div *ngIf="invalidEmail" class="alert alert-danger" role="alert">
          {{invalidEmail}}
        </div>
      </div>
      <div class="form-group">
        <label>Password : </label>
        <br>
        <input 
        type="password" name="userPassword"
        #userPassword= "ngModel"
        placeholder="Choose a password" 
        [(ngModel)]="password" class="formInput" 
        minlength="6"
        required/>
        <div *ngIf= "userPassword.invalid && userPassword.touched || userPassword.minlength" class="alert alert-danger">
          <div *ngIf="userPassword.errors.required">
            Password is required.
          </div>
          <div *ngIf="userPassword.errors.minlength">
            Minimum length of six is required.
          </div>
        </div>
      </div>

      <button [disabled]="!loginForm.form.valid" 
      type="submit" (click)="login()"
      class="btn btn-success">
      Login
      </button>

    </form>
  </div>
