.container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
}

.container > .userProfile{
    width: 30%;
}

.container > .feed{
    width: 80%;
    margin: 0 60px;
}

.container > .userList{
    width: 40%;
}

.chatForm{
  width: 80%;
  margin: 0px auto;
}

p{
  text-align: center;
}

hr{
  width: 50%;
}
