.container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}

.container > .userProfile{
    width: 20%;
}

.container > .feed{
    width: 60%;
    margin: 0 60px;
}

.container > .userList{
    width: 20%;
}
