.sender{
    padding: 10px 10px;
    margin: 5px 0px 5px 150px;
}

.sender .messageContent{
  background: lightskyblue;
  border: 2px solid lightskyblue;
  border-radius: 25px;
  padding: 0px 10px;
}

.receiver{
    padding: 10px 10px;
    margin: 5px 150px 5px 0px;
}

.receiver .messageContent{
  background: Lavender ;
  border: 2px solid Lavender;
  border-radius: 25px;
  padding: 0px 10px;
}

.messageDetails p{
    display: inline;
}

.userName{
    color: green;
    font-weight: bold;
    padding: 0px 5px;
}

.email{
    color: green;
    font-weight: bold;
    padding: 0px 5px;
}

.time{
    padding: 0px 5px;
}

button{
    margin: 0px 10px;
    float: right;
}

.image{
    width: 20%;
    height: 20%;
    border: 3px ridge green;
}

.profilePhoto{
    border: 2px solid gainsboro;
    width: 10%;
    height: 50px;
    border-radius: 50%;
}

.senderProfile > .profilePhoto{
    float: right;
    margin-right: -70px;
}

.receiverProfile > .profilePhoto{
    float: left;
    margin-left: -70px;
}
